@import "./fonts.css";
@import "./transition.css";
@import "./momoTalk.css";
@import "./progress.css";
@import "./chats.css";
@import "./friend.css";

:root {
  --stroke-b: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  --stroke-w: -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

html {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  padding: 0px;
  margin: 0px;
  font: 14px sans-serif;
  height: 100%;
  box-sizing: border-box;
}

body.init {
  background: #fa92a4;
  background-size: 100% 100%;
}

body.main {
  background-color: white;
  position: relative;
}

#logo.init {
  position: absolute;
  margin: 0;
  animation: fadeIn-up 1s;
  top: 50%;
  left: calc(50% - 60px);
}

/* .contain {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;

}

.stretch {
  display: block;
  width: 100%;
  height: 100%;
}

.cover {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

@media (max-width: 750px),
(max-height: 450px) {
  body.main.mob {
    height: 50%;
    overflow: auto;
  }
}