body.main {
    height: 98vh;
}

.momotalk-container {
    position: relative;
    height: 100%;
    min-height: 350px;
    /* border-radius: 0.5rem; */
    overflow: hidden;
    /* box-shadow: 0 0.3rem 0.75rem rgb(0 0 0 / 25%); */
    transition: width .5s cubic-bezier(0, 0, 0, 1), height .5s cubic-bezier(0, 0, 0, 1);
}

.title-container {
    user-select: none;
    -webkit-user-drag: none;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* width: 100%; */
    height: 3.25rem;
    padding: 0 1rem;
    background-color: #fa92a4;
}
.title-container .title {
    font-weight: bolder;
    font-size: 1.66rem;
    color: #fff;
}

.title-container i {
    color: #fff;
    font-size: 1.2rem;
    padding-left: 10px;
    margin-top: 5px;
}

.momotalk-container .content-container {
    display: flex;
    flex-direction: row;
    height: calc(100% - 3.25rem);
    font-size: 16px;
}

.content-container .left-tab {
    user-select: none;
    -webkit-user-drag: none;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 4.5rem;
    background-color: #5d668b;
}

.left-tab .tab.active{
    background-color: white;
    color: #fa92a4;
}

.left-tab .tab {
    font-size: 1.3em;
    cursor: pointer;
    /* width: 100%; */
    /* height: 4.5rem; */
    padding: 1rem;
    text-align: center;
    transition: background-color .25s;
color: #fff;
}

.momotalk-container .content-container .content-wrapper {
    display: flex;
    /* padding: 1rem; */
    font-size: 1.1rem;
}

.content-wrapper .list-container {
    margin-right: 10px;
    background-color: #ececec;
    width: 30vw;
    z-index: 1;
    overflow-y: auto;
}

.list-container .list_header {
    display: flex;
    margin: 5px;
    justify-content: space-between;
    align-items: center;
}

.list-container .list_header a {
    color: inherit;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}

.list-container .list_header .right {
    float: right;
    top: -5px;
}

.list-container .list_header .right button {
    position: relative;
    /* padding: 0 14px; */
    font-size: 16px;
    font-weight: bolder;
}

.list-container .list_header .right button:nth-child(1) {
    width: 90px;
}

.list-container .list_header .right button:nth-child(2) {
    font-size: 16.5px;
    padding: 1.5px 14px;
}

i.triangle-topright {
    position: absolute;
    width: 0;
    height: 0;
    top: -1px;
    right: -1px;
    border-top: 10px solid skyblue;
    border-left: 10px solid transparent;
}

.list-container .list_header .order_org i:nth-child(2) {
    color: #5d668b;
}

.list-container .list_header #title {
    color: black;
    font-weight: bolder;
    margin: 5px 0;
    font-size: 16px;
}